--- START OF SPREADSHEET TAB: mgmt ---
Priority, Category, Test, Status, SC Expected Result, Notes, , , , , , , , , , , , , , , , , , , , 
required, vMotion, Live migrate running Linux VM between identical nodes in same cluster, , , , , , , , , , , , , , , , , , , , , , , 
required, vMotion, Live Migrate running Linux VM between nodes of same CPU brand but different generations, , , , , , , , , , , , , , , , , , , , , , , 
important, vMotion, Migrate running Linux VM between nodes of different CPU brand, , , , , , , , , , , , , , , , , , , , , , , 
important, vMotion, Live Migrate running Linux VM between two storage pools in same cluster, , , , , , , , , , , , , , , , , , , , , , , 
bonus, vMotion, Live migrate running Linux VM between two clusters, , , , , , , , , , , , , , , , , , , , , , , 
required, HA, Automatic restart of VMs on other nodes/hosts during a node failure, , , , , , , , , , , , , , , , , , , , , , , 
required, HA, Automatic restart of VMs on another datastore during a storage failure, , , , , , , , , , , , , , , , , , , , , , , 
required, Performance, Automatic balancing of resources across hosts in the same cluster, , , , , , , , , , , , , , , , , , , , , , , 
bonus, Performance, VMs cannot be created/Added to the cluster if it violates admission control policies, , , , , , , , , , , , , , , , , , , , , , , 
required, Deployment, Install custom Linux OS on VMs using a third-party/inhouse PXE service, , , , , , , , , , , , , , , , , , , , , , , 
required, Deployment, Migrate Virtual machines from vSphere to Spectro, , , , , , , , , , , , , , , , , , , , , , , 
important, Security, Only VMO admins can create snapshots on any VM on the cluster., , , , , , , , , , , , , , , , , , , , , , , 
required, Security, Customized access/privileges to allow a specific group privilege (e.g. snapshots) on specific VMs, , , , , , , , , , , , , , , , , , , , , , , 
required, Resource MGMT, Ability to group/dedicate a set of resources to a team/project/group to establish a hard cap on resource usage. (e.g. resource pools), , , , , , , , , , , , , , , , , , , , , , , 
required, Monitoring, Ability to monitor VM resources utilizations (Memory, CPU, Disk Usage and I/O), , , , , , , , , , , , , , , , , , , , , , , 
required, Monitoring, Ability to monitor cluster resources utilizations (Memory, CPU, Disk Usage and I/O), , , , , , , , , , , , , , , , , , , , , , , 
required, Monitoring, Ability to monitor resource utilizations on namespace (Or any other resource container we might be using group resources), , , , , , , , , , , , , , , , , , , , , , , 
required, Monitoring, Ability to query a specific metric(s)/Properties from a custom collection of VMs (e.g. Power Status). (Note: API endpoint is fine), , , , , , , , , , , , , , , , , , , , , , , 
important, Monitoring, Ability to store historical performance data (e.g. one year of performance data), , , , , , , , , , , , , , , , , , , , , , , 
important, Monitoring, Ability to store cluster/container performance data., , , , , , , , , , , , , , , , , , , , , , , 
required, Log, VM should be able to log events and activities, , , , , , , , , , , , , , , , , , , , , , , 
important, Log, VM should be able to direct log to central location, , , , , , , , , , , , , , , , , , , , , , , 
required, Configuration, Ability to create a virtual machine with multiple network interfaces, , , , , , , , , , , , , , , , , , , , , , , 
bonus, Configuration, Create a VM template from running virtual machine, , , , , , , , , , , , , , , , , , , , , , , 
required, Configuration, Create a thin provisioned disks for virtual machines, , , , , , , , , , , , , , , , , , , , , , , 
required, Configuration, Ability to hot add disk(s) to VM, , , , , , , , , , , , , , , , , , , , , , , 
required, Configuration, Ability to create snapshots of online/offline VMs, , , , , , , , , , , , , , , , , , , , , , , 
required, Configuration, Configure affinity/anti-affinity rules Between VM-VM and VM-Node(Host), , , , , , , , , , , , , , , , , , , , , , , 
required, Automation, Ability to create a VM from an API endpoint, , , , , , , , , , , , , , , , , , , , , , , 
--- END OF SPREADSHEET TAB: mgmt ---

--- START OF SPREADSHEET TAB: POCv2 ---
, Priority, Category, Test, Result, Notes, , , , , , , , , , , , , , , , , , , , 
1.0, required, vMotion, Live migrate running Linux VM between identical nodes in same cluster, , , , , , , , , , , , , , , , , , , , , , 
7.0, required, HA, Automatic restart of VMs on other nodes/hosts during a node failure, , , , , , , , , , , , , , , , , , , , , , 
8.0, required, HA, Define HA fault domains for clusters, , , , , , , , , , , , , , , , , , , , , , 
10.0, Required, Performance, Automatic balancing of resources across hosts in the same cluster (Similar to DRS), , , , , , , , , , , , , , , , , , , , , , 
11.0, Bonus, Performance, VMs cannot be created/Added to the cluster if it violates admission control policies, , , , , , , , , , , , , , , , , , , , , , 
12.0, Required, Deployment, Install custom Linux OS on VMs using a third-party/inhouse PXE service, , , , , , , , , , , , , , , , , , , , , , 
13.0, Required, Deployment, Migrate Virtual machines from vSphere to Spectro, , , , , , , , , , , , , , , , , , , , , , 
14.0, important, , Support for external Vendor supplied images (OVA equivalent), , , , , , , , , , , , , , , , , , , , , , 
18.0, Required, Resource MGMT, Ability to group/dedicate a set of resources to a team/project/group to establish a hard cap on resource usage. (e.g. resource pools), , , , , , , , , , , , , , , , , , , , , , 
19.0, Required, Monitoring, Ability to monitor VM resources utilizations (Memory, CPU, Disk Usage and I/O), , , , , , , , , , , , , , , , , , , , , , 
20.0, Required, Monitoring, Ability to monitor cluster resources utilizations (Memory, CPU, Disk Usage and I/O), , , , , , , , , , , , , , , , , , , , , , 
21.0, Required, Monitoring, Ability to monitor resource utilizations on namespace (Or any other resource container we might be using to group resources), , , , , , , , , , , , , , , , , , , , , , 
22.0, Required, Monitoring, Ability to query a specific metric(s)/Properties from a custom collection of VMs (e.g. Power Status). (Note: API endpoint is fine), , , , , , , , , , , , , , , , , , , , , , 
23.0, Important, Monitoring, Ability to have/store historical performance data (e.g. one year of performance data), , , , , , , , , , , , , , , , , , , , , , 
24.0, Important, Monitoring, Ability to have/store cluster/container performance data., , , , , , , , , , , , , , , , , , , , , , 
25.0, Required, Log, VM should be able to log events and activities, , , , , , , , , , , , , , , , , , , , , , 
26.0, Important, Log, VM should be able to direct log to central location, , , , , , , , , , , , , , , , , , , , , , 
27.0, Required, Configuration, Ability to create a virtual machine with multiple network interfaces, , , , , , , , , , , , , , , , , , , , , , 
28.0, Important, Configuration, Ability to create VM networks/Portgroups with different security policies, , , , , , , , , , , , , , , , , , , , , , 
29.0, Required, Configuration, Create a thin provisioned disks for virtual machines., , , , , , , , , , , , , , , , , , , , , , 
30.0, Required, Configuration, Ability to hot add disk(s) to VM, , , , , , , , , , , , , , , , , , , , , , 
31.0, Required, Configuration, Ability to create snapshots of online/offline VMs, , , , , , , , , , , , , , , , , , , , , , 
32.0, Required, Configuration, Configure affinity/anti-affinity rules Between VM-VM and VM-Node(Host), , , , , , , , , , , , , , , , , , , , , , 
33.0, Bonus, Configuration, Ability to configure VM CPUs as cores or sockets (for licensing purposes), , , , , , , , , , , , , , , , , , , , , , 
35.0, Bonus, Configuration, vTPM support for KubeVirt VMs ( Provider ? ), , , , , , , , , , , , , , , , , , , , , , 
38.0, Important, GPU, vGPU support (GPU Passthrough/partitioning/time slicing) + VMotion, , , , , , , , , , , , , , , , , , , , , , 
39.0, Important, GPU, Support for NVIDIA cards and CUDA toolset, , , , , , , , , , , , , , , , , , , , , , 
--- END OF SPREADSHEET TAB: POCv2 ---

--- START OF SPREADSHEET TAB: kaas ---
Category, Test, Status, Test, , , , , , , , , , , , , , , , , , , , , 
Management Console, , , , , , , , , , , , , , , , , , , , , , , , 
Security, Authenticate users with AzureAD OIDC, , , , , , , , , , , , , , , , , , , , , , , 
Security, No direct inbound connections from SaaS to managed clusters, , , , , , , , , , , , , , , , , , , , , , , 
Operations, Consolidated view of entire global fleet in a single pane of glass, , , , , , , , , , , , , , , , , , , , , , , 
Operations, Consolidated view of regional fleet in a single pane of glass, , , , , , , , , , , , , , , , , , , , , , , 
Operations, Ability to isolate 'dev', 'non-prod' and 'prod' clusters into different management console versions, , , , , , , , , , , , , , , , , , , , , , , 
Operations, Show-back/Charge-back at the namespace (or better, app team/group) level, , , , , , , , , , , , , , , , , , , , , , , 
Kubernetes Cluster Lifecycle Management, , , , , , , , , , , , , , , , , , , , , , , , 
Imported Clusters, Coexist with Rancher agents, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Construct cluster from preexisting Linux VMs and bare-metal machines, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Construct cluster with bare metal (workers) and VMs (control plane) using MaaS, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Global management of cluster pools with similar configs, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Hands-free upgrades, , , , , , , , , , , , , , , , , , , , , , , 
Disaster Recovery, Automated, periodic etcd snapshots with offsite storage (e.g. S3), , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Automated quarterly OS (kernel, CRI) patching, , , , , , , , , , , , , , , , , , , , , , , 
Config Mgmt, Per-cluster customization of cluster-wide services, using tag/label selectors, , , , , , , , , , , , , , , , , , , , , , , 
Config Mgmt, Self-healing of manually modified resources in downstream clusters, , , , , , , , , , , , , , , , , , , , , , , 
Config Mgmt, Global secrets management for infrastructure services (e.g., a Datadog or S3 API token), , , , , , , , , , , , , , , , , , , , , , , 
Kubeconfig, Tenants and admins using kubectl are able to connect directly to the Kubernetes cluster, rather than through a proxy, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Out-of-the-box support for Cilium CNI, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Ability to deploy and manage Kubernetes clusters in 'air gapped' environments with no internet access, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Templated, version-controlled cluster configuration manifests, that update all clusters when modified, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Secrets (and ConfigMap, and...) encryption, with encryption key stored outside etcd node, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Ability to customize/scale CoreDNS as part of cluster configuration template, , , , , , , , , , , , , , , , , , , , , , , 
New Clusters, Full control over etcd, kube-apiserver, kube-controller, kubelet, kube-proxy configurations as part of cluster configuration template, , , , , , , , , , , , , , , , , , , , , , , 
Cloud Clusters, Support for imported GKE, EKS, AKS clusters, , , , , , , , , , , , , , , , , , , , , , , 
Cloud Clusters, Ability to perform full lifecycle management (build, operate, upgrade, retire) GKE, EKS, AKS clusters, , , , , , , , , , , , , , , , , , , , , , , 
Disaster Recovery, Ability to roll back to any given etcd snapshot in a single operation, , , , , , , , , , , , , , , , , , , , , , , 
Disaster Recovery, Per-namespace rollback/recovery of deleted or modified resources, , , , , , , , , , , , , , , , , , , , , , , 
Tenant Management, , , , , , , , , , , , , , , , , , , , , , , , 
Security, All namespaces for a given app team in a cluster have synchronized RBAC, , , , , , , , , , , , , , , , , , , , , , , 
Security, Automated NetworkPolicy management to prevent app team namespaces from connecting to each other, , , , , , , , , , , , , , , , , , , , , , , 
Security, Reservation of cluster-wide service namespaces; prevent tenants from taking over critical namespaces, , , , , , , , , , , , , , , , , , , , , , , 
Security, Tenants can create Secrets that are automatically deployed and synchronized to all of their Namespaces (ideally across all clusters), , , , , , , , , , , , , , , , , , , , , , , 
Security, Tenants may not add or remove access to their team/project/group – only admins may do this, , , , , , , , , , , , , , , , , , , , , , , 
Resource Mgmt, Cluster admin managed ResourceQuotas and LimitRanges for all tenant namespaces, , , , , , , , , , , , , , , , , , , , , , , 
Resource Mgmt, Out-of-the-box support for Gatekeeper OPA, , , , , , , , , , , , , , , , , , , , , , , 
Security, Multi-tenant aware security scans and alerts, , , , , , , , , , , , , , , , , , , , , , , 
Tenant User Experience, , , , , , , , , , , , , , , , , , , , , , , , 
Explorer, Tenants can retrieve Kubeconfig using dashboard UI, , , , , , , , , , , , , , , , , , , , , , , 
Explorer, Tenants can retrieve Kubeconfig using API, , , , , , , , , , , , , , , , , , , , , , , 
Explorer, Tenants can create their own namespaces, and may not create namespaces outside their assigned cluster(s), , , , , , , , , , , , , , , , , , , , , , , 
Explorer, Tenants can browse their Kubernetes resources in the dashboard UI, , , , , , , , , , , , , , , , , , , , , , , 
Explorer, Tenants can create new resources using the dashboard UI, , , , , , , , , , , , , , , , , , , , , , , 
Explorer, Tenants can manage resources across multiple clusters in multiple regions from a single pane of glass, , , , , , , , , , , , , , , , , , , , , , , 
--- END OF SPREADSHEET TAB: kaas ---

--- START OF SPREADSHEET TAB: vcluster ---
Priority, Category, Test, Status, Spectro expected test result, SC Expected Result, Notes, , , , , , , , , , , , , , , , , , , , 
required, Deployment, Ability to deploy vClusters into both Palette-managed and imported clusters, , , , , , , , , , , , , , , , , , , , , , , , 
important, Deployment, Support for kubernetes versions +/- 2 minor revisions of the parent cluster, , , , , , , , , , , , , , , , , , , , , , , , 
required, Deployment, Centralized management of vclusters: monitor, deploy, upgrade, retire, , , , confirmed upgrade does occur, UI does not reflect new version., , , , , , , , , , , , , , , , , , , , , 
required, Security, vcluster kube-api must only be accessible to cluster admins and to tenants of the vcluster, , , , , , , , , , , , , , , , , , , , , , , , 
required, Security, vcluster auth tokens must be issued by Spectro Cloud, e.g. using same Kubeconfig process as for regular clusters, and must follow same time limits as regular clusters, , , , , , , , , , , , , , , , , , , , , , , , 
required, Security, vcluster tenants must have limited access, e.g. cannot access or mint admin tokens, but can deploy CRDs and ClusterRoles, , , , , , , , , , , , , , , , , , , , , , , , 
required, Configuration, admin must be able to fully configure every aspect of the vcluster syncer, , , , , , , , , , , , , , , , , , , , , , , , 
important, Deployment, Ability to define templatized 't-shirt sizes' for vclusters, small/k3s+sqllite, medium/k3s+etcd, etc., , , Cluster Groups can limit resources used but vclusters can be created with any size within, , , , , , , , , , , , , , , , , , , , , 
required, Parent Resources, Workloads in vClusters must be able to utilize parent cluster's ingress controller, , , , , , , , , , , , , , , , , , , , , , , , 
required, Parent Resources, Workloads in vClusters must be able to utilize parent cluster's CNI or MetalLB for LoadBalancer Services, , , , , , , , , , , , , , , , , , , , , , , , 
required, Parent Resources, Workloads in vClusters must be able to utilize parent cluster's storage classes and use, e.g. Portworx, , , , , , , , , , , , , , , , , , , , , , , , 
required, Parent Resources, Workloads in vClusters must be able to utilize parent cluster's observability platform (e.g. Prometheus, Datadog), , , , , , , , , , , , , , , , , , , , , , , , 
required, Parent Resources, Workloads in vClusters must be able to utilize parent cluster's CNI for NetworkPolicy, , , , , , , , , , , , , , , , , , , , , , , , 
important, Configuration, vCluster templates should be able to specify managed software deployments inside the vcluster, , , , , , , , , , , , , , , , , , , , , , , , 
required, Security, Workloads in vClusters must adhere to security policies of the parent cluster (no privileged pods, no hostPath mounts, etc.), , , , , , , , , , , , , , , , , , , , , , , , 
important, Deployment, vCluster owners/tenants should not be able to interfere with the vcluster control plane pods or configuration, , , , , , , , , , , , , , , , , , , , , , , , 
bonus, Deployment, Secure self-service vCluster deployment, , , , , , , , , , , , , , , , , , , , , , , , 
important, Deployment, Secure, low latency direct access to vCluster kube-apiserver, , , , , , , , , , , , , , , , , , , , , , , , 
--- END OF SPREADSHEET TAB: vcluster ---
